{% extends 'layout.html.twig' %}

{% block main %}
    <h1>About us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores cupiditate dicta doloremque error fuga id iure laborum molestiae necessitatibus neque odio pariatur, perspiciatis quo, rerum, soluta ullam vel vero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores cupiditate dicta doloremque error fuga id iure laborum molestiae necessitatibus neque odio pariatur, perspiciatis quo, rerum, soluta ullam vel vero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores cupiditate dicta doloremque error fuga id iure laborum molestiae necessitatibus neque odio pariatur, perspiciatis quo, rerum, soluta ullam vel vero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores cupiditate dicta doloremque error fuga id iure laborum molestiae necessitatibus neque odio pariatur, perspiciatis quo, rerum, soluta ullam vel vero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores cupiditate dicta doloremque error fuga id iure laborum molestiae necessitatibus neque odio pariatur, perspiciatis quo, rerum, soluta ullam vel vero.</p>
{% endblock %}

{% block title %}About us | {{ parent() }}{% endblock %}