{% extends 'layout.html.twig' %}

{% block main %}
    <h1>Welcome to Bucket-List!</h1>
    {% if app.user %}
        <h2>Hi {{ app.user.pseudo }} !</h2>
    {% endif %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab asperiores cupiditate dicta doloremque error fuga id iure laborum molestiae necessitatibus neque odio pariatur, perspiciatis quo, rerum, soluta ullam vel vero.</p>
{% endblock %}

{% block title %}{{ parent() }} | Home{% endblock %}