/**
global styles
 */

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
}

/**
header
 */
.site-title {
  display: flex;
  align-items: center;
  font-size: 48px;
}

.site-title img {
  height: 48px;
  display: block;
  margin-right: 5px;
}

.navbar header nav ul {
  margin: 5px 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.navbar header nav a {
  display: block;
  padding: 5px 8px;
  margin-right: 10px;
}

/**
main
 */
main {
  padding: 30px 0;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

/**
footer
 */
footer {
  padding: 20px 0;
  text-align: center;
}

/**
list & detail pages
 */
.ideas-list a {
  display: block;
  border: 1px solid #d3d3d3;
  padding: 10px 5px;
  margin: 10px 0;
}

.idea-meta {
  font-style: italic;
  margin-bottom: 10px;
}

.mb-4 {
  margin-bottom: 2rem;
}

.alert {
  display: block;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px black solid;
  border-radius: 0.2rem;
}

.alert-success {
  background-color: greenyellow;
}

.alert-danger {
  background-color: red;
}
