{% extends 'error_layout.html.twig' %}

{% block body %}
    <h1>Internal error</h1>

    <p>
        Please contact the support, or checkout for any URL
        misspelling or <a href="{{ path('home') }}">return to the homepage</a>.
    </p>
{% endblock %}